/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Universal Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

:root {
    --tomato: hsl(4, 100%, 67%);
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
    background-color: var(--dark-slate-grey);
    font-family: 'Roboto', sans-serif;
    
}

h1, h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* Container */

.container {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    max-width: 750px;
    overflow: hidden;
    width: clamp(400px, 700px)
}

.form-div {
    display: flex;
    flex-direction: column;
    margin: 40px;
    max-width: 350px;
    
}

.updated {
    text-align: left;
    padding-bottom: 25px;
}

.updated h1 {
    margin-bottom: 15px;
    font-size: 45px;
    
}

.updated p {

    width: 300px;
    
}


.image-check {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.image-check img {
    margin-right: 15px;
}

.image-contain {
    padding: 10px;
}

.image-contain img {
   width: 100%;
}

/* Form */
.form-main-container {
    
}


 .form-container {
    display: flex;
    justify-content: space-between;
 }

 .toolbar {
    font-size: .9rem;
    line-height: 3rem;
    font-weight: 700;
 }

 #error {
    color: var(--tomato);
    
 }

 .form-main-email {
    width: 100%;
    padding: .8rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    
 }

 .form-main-submit {
    width: 100%;
    padding: .8rem;
    margin-bottom: 1rem;
    background-color: var(--dark-slate-grey);
    color: var(--white);
    border-radius: 10px;
    
 }

 
  /* Success Message Button */

button {
    background-color: var(--dark-slate-grey);
    color: var(--white);
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    width: 100%;
    
}

button:hover {
    background-color: var(--tomato);
}

/* Message */
.success {
    background-color: var(--white);
    max-width: 400px;
    height: 450px;
    padding: 60px;
    border-radius: 20px;
   
    
    
}

.img-class img {
    padding-bottom: 10px;

    
}



.success h1 {
    font-size: 40px;
   
}

.success p {
    padding-top: 15px;
    line-height: 1.4;
    
}


/* Media Queries */




@media only screen and (max-width: 780px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
        max-height: 100vh;
        width: min(400px,100vw);
        
       
    }

    .image-contain {
        padding: 0px;
    }

    .image-check {
        padding: 5px;
        
    }

    .form-div {
    margin: 0px;
    
    }

}

/* Message Pop up */

@media only screen and (max-width: 398px) {

    .success {
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
        height: 100vh;
        border-radius: 0px;
    }

    .success button {
        margin-top: 20rem;
    }


    .image-contain {
        padding: 0px;
    }
}





